  <div class = "row align-ceneter mb-5">
    <div class = "col-mid-6">
  <p>We have selected {{pickedRestaurant}} for you.</p>
        <p>We recommend you order the following items: {{foodArray}}</p>
        <p>This adds up to a total of: {{calorieCounter}} calories.</p>
        <p>Nice!</p>
    </div>
  </div>
  
  
