{{#if loggedIn}}
<section class="container">
  <div class="painting-details">
    <h3>Please select a calorie range that you are interested in!</h3>
  </div>
  <div class="container">
    {{!-- create target for restaraunt selected--}}
    <div class="restaurant-selected"></div>
    {{!-- create target for menu items selected--}}
    <div class="menu-items"></div>
    {{!-- create target for calorie total --}}
    <div class="calorie-total"></div>
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}