{{#if loggedIn}}
<form class = 'form generator-form'>
  <div class = 'form-group'>
    <label for="userPreference">Small,Medium, or Large Meal?</label>
    <input class ="form-input" type="text" id="userPreference"/>
  </div>
  <div class = 'form-group'>
    <button class = 'btn btn-primary' type="submit">Generate</button>
  </div>
</form>
<script src = '/js/generate.js'></script>
{{else}}
{{/if}}



    {{!-- <h3>Please select a calorie range that you are interested in! Please type in "small", "medium", or "large".</h3>
    <form class="form generator-form">
      <div class="form-group">
        <label for="userPreference">"Small, Medium or Large?"</label>
        <input class ="form-input"type = 'text' id="userPreference"/>
      </div>
    </form>  
  <button class ="btn btn-primary" type="submit">Randomize Meal!</button>

  <script src = '/js/generate.js'></script> --}} --