{{#if loggedIn}}
<section class="container">
  <div class="painting-details">
    <h3>Please select a calorie range that you are interested in!</h3>
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}