{{#if loggedIn}}
<section class="container">
  <div class="painting-details">
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}
    <h3>Please select a calorie range that you are interested in! Please type in "small", "medium", or "large".</h3>
  <textarea>"Small, medium or large?"</textarea>
  <button type="button">Randomize Meal!</button>